/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap);



/* BASE & DEFAULT ________________________________________________ */
body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #2c2b2b;
}
.container {
    max-width: 1260px;
    padding: 0 30px;  
    margin: 0 auto;  
}


/* HEADER ________________________________________________ */
.header {
    min-height: 700px;
    background: url('../img/bg/bg_hero.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0;
    margin-bottom: 60px;
}

/* tel */
.phone {
    font-size: 36px;
    line-height: 1.48;
    font-weight: 400;
    color: #fff;
}

/* text */
.header__title {
    font-size: 72px;
    line-height: 1.48;
    font-weight: 400;
    text-transform: uppercase;
}
.header__subtitle {
    font-size: 36px;
    line-height: 1.48;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.header__descr {
    max-width: 800px;
    margin-bottom: 30px;
}

/* content */
.header__content {
    position: relative;
}

/* btn */
.btn {
    background-color: #5a0d67;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;

    display: inline-block;
    padding: 14px 55px 15px;
    
    transition: all .3s ease;
}
.btn:hover {
    color: #5a0d67;
    background-color: #fff;
}

/* social */
.social__list {
    display: flex;    
    align-items: center;
    margin-top: 70px;
    margin-left: 60px;

}
.social__list li + li {
    margin-left: 10px;
}

/* IMAGE */
.header__img {
    position: absolute;
    right: 0;
    bottom: -290px;
}
/* // HEADER ________________________________________________ */
