/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* подключение локальных шрифтов */
@import "fonts.css";


/* BASE & DEFAULT ______________________________________________________ */
body {
    font-family: '', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.container {
    max-width: 1200px;
    box-sizing: content-box;
    padding: 0 30px;  
    margin: 0 auto;  
}
a {
    color: blueviolet;
    text-decoration: underline;
}

/* HEADER ______________________________________________________ */
/* // HEADER ______________________________________________________ */

/* SECTION HERO ______________________________________________________ */
.hero {
    padding: 100px 0;    
}
.hero__title {
    max-width: 400px;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.hero__divition {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.hero__divition_descr {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
}
.cards__links-box li {
    margin-bottom: 14px;
}
/* // SECTION HERO ______________________________________________________ */
