/* лента слайдов */
.slider-we-tech .slick-track {
    display: flex;
}
/* оболочка слайдера */
.slider-we-tech .slick-list {
    overflow: hidden;
}
/* стрелки */
.slider-we-tech .slick-arrow {
    width: 80px;
    height: 60px;
    font-size: 0;
    position: absolute;
    top: -115px;
    z-index: 10;
}
.slider-we-tech .slick-arrow.slick-prev {
    right: 80px;
    background: #202122 url(../images/signs/slider_arrow-left.svg) center center no-repeat;
    border-radius: 5px 0 0 5px;
}
.slider-we-tech .slick-arrow.slick-next {
    right: 0;
    border-radius: 0 5px 5px 0;
    background: #202122 url(../images/signs/slider_arrow-right.svg) center center no-repeat;
}
/* // стрелки */
/* // ________ // НАСТРОЙКА РАБОТЫ СЛАЙДЕРА ________ */


/* ________ КАРТОЧКИ ________ */

.slider-we-tech__card {
    max-width: 410px;
    max-height: 530px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin-right: 35px;
}
.slider-we-tech__card img {
    text-align: center;
}
.we-tech__card_texbox {
    padding: 55px 47px 65px;
}
.we-tech__card_title {        
    font-family: 'Alumni Sans';
    font-size: 35px;
    line-height: .9em;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
}
.we-tech__card_subtitle {    
    font-family: 'Alumni Sans';
    font-size: 26px;
    line-height: 1.1em;
    font-weight: 300;
}
/* ________ // КАРТОЧКИ ________ */