/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap);

/* BASE & DEFAULT _______________________________________ */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: #1f1e1e;
}
.container {
    max-width: 1180px;
    padding: 0 30px;  
    margin: 0 auto;  
}


/* HEADER _______________________________________ */
.header {
    background: url('../img/covers/cover_hero.jpg') no-repeat center center;
    background-size: cover;
}
.header__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;

    padding: 16px 0 49px;
}

/* phone */
.header__phone {
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
}
.header__phone-number {
    border-radius: 22px;
    background-color: #886239;
    font-weight: 400;
    color: inherit;
    
    padding: 12px 31px 13px;
    margin-left: 19px;
}

/* menu */
.menu {
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 27px 0 24px;
    margin-top: 15px;
}
.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu__link {
    font-size: 16px;
    color: #fff;
}
/* // menu */


/* content 1st screen*/
.header__title {
    font-family: 'PT Serif', serif;
    font-size: 90px;
    line-height: 130%;

    text-align: center;
    margin-bottom: auto;
}
.header__descr {
    max-width: 420px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
}

/* btn */
.header__btn {
    border-radius: 30px;
    background-color: #886239;
    font-size: 18px;
    color: #fff;

    display: inline-block;
    padding: 19px 55px 20px;
    margin-bottom: 20px;
}

/* arrow down link */
.header__arrow-box{
    margin-bottom: 15px;
    text-align: center;
}

/* // HEADER _______________________________________ */
