/* Regular */
@font-face {
    font-family: 'NotoSansSC';
    font-style: normal;
	font-weight: 400;
    src: local('NotoSansSC'),
         url('../fonts/NotoSansSC/NotoSansSC-Medium-Alphabetic.woff2') format('woff2'),
         url('../fonts/NotoSansSC/NotoSansSC-Regular-Alphabetic.woff') format('woff');
}

/* Medium */
@font-face {
    font-family: 'NotoSansSC';
    font-style: normal;
	font-weight: 700;
    src: local('NotoSansSC'),
         url('../fonts/NotoSansSC/NotoSansSC-Medium-Alphabetic.woff2') format('woff2'),
         url('../fonts/NotoSansSC/NotoSansSC-Medium-Alphabetic.woff') format('woff');
}