/* подключение reset.css */
@import "reset.css";

/* подключение локальных шрифтов */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500,700&display=swap');


/* --------------------------------------------- */
/* BASE & DEFAULT */
body {    
    font-family: 'NotoSansSC', sans-serif;    
    font-size: 14px;
    font-weight: normal;
    color: #302e2d;
}
/* // BASE & DEFAULT */


/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

/* HEADER */

.header {
    height: 100vh;
    font-weight: 500;
    font-style: italic;
    /* background: url('../_макет/для верстки/_подложка.jpg') center top no-repeat; */
}
.header__columns_wrap {
    display: flex;
    justify-content: stretch;
}

/* columns common ---------------------------------------- */
.column {
    min-height: 100vh;
}
.column.left {    
    display: flex;
    justify-content: space-around;
    width: 44%;
    background-color: #dcd8d3;
    background: url('../img/bg/bg_column-left.jpg') center top no-repeat;
    background-size: cover;
}
.column.right {
    position: relative;
    width: 56%; 
    background-color: #ebebeb;
    background: url('../img/bg/bg_column-right.jpg') center top no-repeat;
    background-size: cover;

}
.column__inner-left {   
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 64px;        
    width: 50%;
}
.column__inner-right {   
    display: flex;
    justify-content: flex-end;
    width: 50%;    
}

/* // columns base ---------------------------------------- */


/* LEFT COLUMN */
/* nav ---------------------------------------- */
.header__nav {
    display: flex;
    flex-direction: column;    
    letter-spacing: -0.05em;
    margin-top: 80px;
    font-style: normal;    
}
.header__arrow {
    width: 11px;    
}
.header__nav-list {
    margin-top: 30px;
}
.header__nav-link { 
    font-size: 29px;    
    line-height: 1em;    
    text-transform: uppercase;  
}
/* // nav ---------------------------------------- */

/* about ---------------------------------------- */
.header__about_wrap {
    display: flex;  
    margin-top: 28px;    
    font-weight: 700;
    
}
.header__about {
    margin: -3px 0 0 2px;
    font-size: 17px;       
    line-height: 1;
    text-transform: uppercase;
}
/* // about ---------------------------------------- */


/* eimail ---------------------------------------- */
.header__contact-email {
    margin-top: 55px;
    font-size: 30px;    
}

/* lull ---------------------------------------- */
.header__lull_wrap{    
    margin-top: auto;
    margin-bottom: 55px;
}

.header__lull_wrap span {    
    font-size: 47px;
    font-style: italic;
    text-transform: uppercase;
}

.lull_smile {
    margin: 40px 0 0 5px;
}

/* New revenue rectangles ---------------------------------------- */
.column__rectangle-beige {
    display: flex;
    justify-content: space-between;
    background-color: #e6e1d4;
    
    width: 290px;
    height: 215px;    
}
.new-revenue {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin: 0 auto;   
    padding-bottom: 27px;    

    font-size: 38px;    
    line-height: 0.8;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
}
.rectangle-darkgray {
    width: 80px;
    height: 53px;
    background-color: #302e2d;
}
/* // New revenue rectangles ---------------------------------------- */
/* // LEFT COLUMN */


/* RIGHT COLUMN */
.header__two {
    position: absolute;
    right: 57px;  
    top: 40px;  
}
.header__info_wrap {
    position: relative;
    margin: 232px 41.5%;    
    width: 120px;
    height: 170px;
    border-left: 2px solid #302e2d;
}
.header__info {
    position: absolute;
    top: -32px;
    left: 5px;
    font-size: 48px;
    font-style: italic;
}
.header__btn {
    position: absolute;
    right: 57px;
    bottom: 47px;

    padding: 15px 35px;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #302e2d;
}
/* // RIGHT COLUMN */

/* HEADER */
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
