/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Quicksand:700&display=swap);

/* подключение локальных шрифтов */
@import "fonts.css";


/* BASE & DEFAULT _______________________________________ */
body {
    font-family: "Lato", sans-serif;
    color: #fff;
}
.container {
    margin: 0 auto;
}


/* HEADER _______________________________________ */
.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.header__inner {
    max-width: 690px;
    height: 100vh;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 180px 0 65px;

}

/* text */
.header__title {
    font-size: 60px;
    line-height: 1.25;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 14px;
}
.header__descr {
    font-size: 17px;
    line-height: 1.41;
    font-weight: 400;
    font-style: italic;
    color: #d0e7e9;
}

/* btn */
.btn__get-started {
    border-radius: 3px;
    background-color: #7accc8;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.05em;

    display: inline-block;
    padding: 28px 80px;
    margin-top: auto;
}

/* // HEADER _______________________________________ */



/* SECTION VIDEO _______________________________________ */
.video-player {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

/* btn */
.video__btn-play {
    width: 99px;
    height: 99px;
    background: url('../images/signs/sn_play.png') no-repeat center;

    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 43%;
}
.video__btn-play--hidden {
    display: none;
}

/* // SECTION VIDEO _______________________________________ */