/* подключение reset.css */
@import "reset.css";

/* slider */
@import "slick.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400&display=swap);

/* подключение локальных шрифтов */
@import "fonts.css";


/* BASE & DEFAULT ____________________________________________ */
body {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 24;
    font-weight: 400;
    color: #000;
}

/* HEADER ____________________________________________ */
.header {
    text-align: center;      
}

/* logo */
.header__logo {
    padding: 88px 0 60px;
    
}

/* menu */
.menu {
    border-top: 2px solid #C4C4C4;
}
.menu__list {
    display: flex;
    justify-content: center;
}
.menu__link {  
    width: 300px;
    height: 100px;   

    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #888;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: all .2s ease;
}
.menu__list li {
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
}   
.menu__list li:first-child {
    border-left: 2px solid #C4C4C4;
}
.menu__list li:last-child {
    border-right: 2px solid #C4C4C4;
}
.menu__link:hover,
a.menu__link--active {
    background-color: #020202;
    color: #fff;
}
/* // HEADER ____________________________________________ */



.slider__item {
    min-height: 600px;
}
.slick-arrow {
    border: none;
    outline: none;
    background-color: transparent;
    
    position: absolute;
    top: 50%;   
    transform: translateY(-50%);  
    z-index: 10;
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;
}
/* // SECTION SLIDER ________________________________________ */



/* SECTION SEARCH ________________________________________ */
.search {
}
.search__inner {
    padding: 60px 0 70px;

}
.search__form {  
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #888;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search__form_label {
    max-width: 160px;
    margin-right: 69px;
}
.serach__form_input {
    height: 70px;
    width: 430px;
    border: 2px solid #C4C4C4;

    font-size: 18px;
    line-height: 24px;
    color: #888;

    padding: 0 15px;
}
.serach__form_input::placeholder {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
.search__form_btn {
    border: none;
    background-color: #C4C4C4;

    font-size: inherit;
    line-height: inherit;
    color: #fff;

    position: relative;    
    
    padding: 23px;
    padding-left: 36px; 
}
.search__form_btn::before {
    content: '';
    width: 18px;
    height: 18px;
    background: url('../images/signs/sn_zoom.svg') no-repeat;
    position: absolute;
    top: 26px;
    left: 9px;
}
/* // SECTION SEARCH ________________________________________ */
