/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:900italic&display=swap);


/* BASE & DEFAULT _______________________________________ */
body {
    font-family: 'Open Sans', sans-serif;    
    font-weight: 400;
}
.container {
    max-width: 1880px;
    padding: 0 40px;  
    margin: 0 auto;  
}


/* HEADER _______________________________________ */
.header {
    background: url('../images/bg/bg_main.jpg') no-repeat bottom;
    background-size: cover;
    padding-top: 55px;
}
.header__inner {
    min-height: 951px;
    padding: 0 315px;
    position: relative;    

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* text */
.header__content {
    max-width: 440px;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}
.header__title {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 12px;  
    margin-top: -10%; 
}
.header__descr {
    font-size: 13px;
    line-height: 1.85;
    margin-bottom: auto;
}

/* phone image */
.header__phone {
    position: absolute;
    top: 25%;
    right: 240px;
}
/* // HEADER _______________________________________ */