@font-face {
    font-family: 'Chronicle Display';    
    src: local('Chronicle Display Bold'),
        url('Chronicle-Display-Bold.woff2') format('woff2'), 
        url('Chronicle-Display-Bold.woff') format('woff'),          
        url('Chronicle-Display-Bold.eot?#iefix') format('eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Chronicle Display';    
    src: local('Chronicle Display Semibold'),
        url('Chronicle-Display-Semibold.woff2') format('woff2'), 
        url('Chronicle-Display-Semibold.woff') format('woff'),          
        url('Chronicle-Display-Semibold.eot?#iefix') format('eot');      
    font-weight: 600;
    font-style: normal;
}
