@font-face {
    font-family: 'Aller';
    src: local('Aller'),
         url('../fonts/Aller/Aller_Rg.woff2') format('woff2'),
         url('../fonts/Aller/Aller.woff') format('woff'),
         url('../fonts/Aller/Aller_Rg.ttf') format('ttf'),
         url('../fonts/Aller/Aller_Rg.eot') format('eot');
}

@font-face {
    font-family: 'Selima';
    src: local('Selima'),
         url('../fonts/Selima/selima.woff2') format('woff2'),
         url('../fonts/Selima/selima.woff') format('woff'),
         url('../fonts/Selima/selima.ttf') format('ttf'),
         url('../fonts/Selima/selima.eot') format('eot');
}