.new-year-text__wrap {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);  
  opacity: 0;
  transition: all 0.5s;
}
.new-year-text__title {
  font-family: "Great Vibes", serif;
  font-size: 195px;
  line-height: 0.85;
}
.new-year-text__text {
  font-size: 18px;
  line-height: 1.6;
  max-width: 420px;
}
.new-year-text__author {
  display: block;
  font-size: 16px;
  margin-top: 1.8em;
}

@media (max-width: 930px) {
  /* new-year-congratulation  */
  .new-year-text__title {
    font-size: 130px;
    margin-bottom: 0.05em;
  }
  .new-year-text__text {
    font-size: 15px;
  }
  .new-year-text__author {
    margin-top: 2em;
  }
}

@media (max-width: 650px) {
  .new-year-text__title {
    font-size: 20vw;
    margin-bottom: 0.12em;
  }
  .new-year-text__author {
    font-size: 12px;
  }
  /* signature */
  .signature {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  /* new-year-congratulation  */
  .new-year-text__text {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .new-year-text__title {
    margin-bottom: 0.28em;
  }
}