/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400&display=swap);


body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.36;
    font-weight: 400;
}

/* HEADER __________________________________________ */
.header {
    background: url('../img/bg/bg_hero.jpg') no-repeat center;
    background-size: cover;
}
.header__inner {
    min-height: 100vh;

    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 70px 30px 38px;
}
.header__subtitle {
    font-size: 18px;
    line-height: 1.38; 

    margin-top: auto;
    margin-bottom: 3px; 
}
.header__title {
    font-size: 64px;
    font-weight: 700;
}
.header__title span {
    display: block;
    font-size: 42px;
    margin-bottom: 50px;
}

/* btn */
.header__button {
    margin-bottom: auto;
}
.btn svg .svg_circle {
    transition: all .2s ease-in;
}
.white__button:hover svg circle {
    fill: #a9a32a;
}
.btn__text {
    font-size: 18px;
    line-height: 1.38;

    display: inline-block;
    transform: translate(-54px, 57px);
}

/* social */
.social__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link {
    padding: 0 10px;
}

/* // HEADER __________________________________________ */