
@font-face {
    font-family: 'Calvino Grande Trial';
    src: local('Calvino-Grande-Trial-Light'), local('CalvinoGrandeTrial-Light'),
         url('../fonts/Calvino-Grande-Trial-Light.woff2') format('woff2'),
         url('../fonts/Calvino-Grande-Trial-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Calvino Grande Trial';

    src: local('Calvino-Grande-Trial-Regular'), local('CalvinoGrandeTrial-Regular'),
         url('../fonts/Calvino-Grande-Trial-Regular.woff2') format('woff2'),
         url('../fonts/Calvino-Grande-Trial-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Calvino Grande Trial';
    src: local('Calvino Grande Trial Extrabold'), local('CalvinoGrandeTrialExtrabold'), local('Calvino-Grande-Trial-Extrabold'),
         url('../fonts/Calvino-Grande-Trial-Extrabold.woff2') format('woff2'),
         url('../fonts/Calvino-Grande-Trial-Extrabold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Calvino Grande Trial';
    src: local('Calvino-Grande-Trial-Light-Italic'),
         url('../fonts/Calvino-Grande-Trial-Light-Italic.woff2') format('woff2'),
         url('../fonts/Calvino-Grande-Trial-Light-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Calvino Grande Trial';
    src: local('Calvino-Grande-Trial-Italic'), local('CalvinoGrandeTrial-Italic'),
         url('../fonts/Calvino-Grande-Trial-Italic.woff2') format('woff2'),
         url('../fonts/Calvino-Grande-Trial-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}