/* SF-Pro-Display Regular */
@font-face {
    font-family: 'SF-Pro-Display';
    src: local('SF-Pro-Display-Regular'), local('SFProDisplayRegular'),
         url('../fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

/* SF-Pro-Display Bold */
@font-face {
    font-family: 'SF-Pro-Display';
    src: local('SF-Pro-Display-Bold'), local('SFProDisplayBold'),
         url('../fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

/* Space-Age */
@font-face {
    font-family: 'Space-Age-Cyrillic';
    src: local('Space-Age-Cyrillic'), local('SpaceAgeCyrillic'), local('SpaceAge Cyrillic'),
         url('../fonts/SpaceAge/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/SpaceAge/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
