/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Roboto:400&display=swap);

/* подключение локальных шрифтов */
@import "fonts.css";

/* ------------------------------------------------- */
/* BASE & DEFAULTS */

body {
    font-family: 'SF-Pro-Display';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    color: #fff;    
}

.container {
    max-width: 1260px;
    padding: 0 30px;  
    margin: 0 auto;  
}
/* // BASE & DEFAULTS */


/* ------------------------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------------------------- */

.header {
    background: url("../img/bg/bg_header.jpg") center top no-repeat;
    background-size: cover;
    padding-top: 75px;
    color: #fff;
}
.header__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* header top -----------------*/
.header__top_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav */
.nav-list {
    display: flex;  
    flex-wrap: wrap;  
}
.nav-list li:not(:last-child) {
    margin-right: 30px;
}
.nav-link {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.16em;
    text-transform: uppercase;    
    transition: color 0.3s ease-in;
}
.nav-link:active, .nav-link:hover, .nav-link:focus {
    color: #CB0E0E;
}
/* // nav */

.phone {
    margin-left: auto;
    margin-right: 22px;
    font-size: 24px;
    line-height: 1.21em;

}
.btn_login {
    margin-right: 134px;
}
/* // header top -----------------*/


/* header content -----------------*/

.header__content_wrap {
    margin-top: 12%;
    max-width: 600px;
}
.header__title {
    font-family: 'Space-Age-Cyrillic';
    font-size: 60px;    
    font-weight: 400;
    line-height: 1em;
}
.header__title span {
    font-size: 110px;
    font-weight: 400;
}
.header__subtitle_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;
    font-size: 24px;
    line-height: 1.21em;
}
/* btn */
.header__btn-main {
    display: block;
    margin-top: 50px;
    padding: 15px 10px 16px;
    border: 1px solid #fff;
    width: 100%;

    font-size: 24px;
    line-height: 1.21em;
    text-transform: uppercase;
    text-align: center;
}
/* // header content -----------------*/


/* header descr -----------------*/
.header__descr_wrap {
    margin-top: 40px; /* запасной отступ - если контента станет больше */
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-end;
}

.header__descr_wrap p{
    max-width: 165px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35em;    
}
.header__descr_wrap p + p {
    margin-left: 52px;    
}
/* // header descr -----------------*/
/* ------------------------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------------------------- */

