/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400&display=swap);

/* подключение локальных шрифтов */
@import "fonts.css";
/* ------------------------------------------------------------ */
/* BASE & DEFAULT */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1181px;
    padding: 0 30px;  
    margin: 0 auto;  
    box-sizing: content-box;
}
.container_wide {
    max-width: 1478px;
}
/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */
.header {
    z-index: 20;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 40px 0;
}
.header__content_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo img{
    min-width: 151px;
}

/* menu */
.menu__list {
    display: flex;
}
.menu__list li:not(:last-child) {
    margin-right: 65px;
}
.menu__link {
    font-family: 'AvenirNextRoundedStd';
    text-transform: uppercase;
    color: #fff;
}
/* ------------------------------------------------------------ */
/* // HEADER */
/* ------------------------------------------------------------ */


/* ------------------------------------------------------------ */
/* SECTION HERO */
/* ------------------------------------------------------------ */
.hero {
    position: relative;
    min-height: 100vh;
    min-height: 100vh;
    background: url('../img/photo/cover_hero.jpg.png') center top no-repeat;
    background-size: cover;
    font-family: 'AvenirNextRoundedStd';
    text-transform: uppercase;
    color: #fff;
}
.hero__inner {
    position: relative;
    min-height: 100vh;
}
.hero__content_wrap {
    position: absolute;
    left: 65px;
    bottom: 20%;
    max-width: 400px;
}
.hero__title {
    font-size: 40px;
    text-align: right;
}
.hero__title span {
    color: #a2ca28;
}
.hero__subtitle {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2em; 
    text-align: right;
}
.hero__subtitle span {
    color: #fd634e;
}
.decor_line {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* ------------------------------------------------------------ */
/* // SECTION HERO */
/* ------------------------------------------------------------ */




/* ------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------ */


/* ------------------------------------------------------------ */
/* //FOOTER */
/* ------------------------------------------------------------ */