.new-year-text__wrap {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.new-year-text__title {
  max-width: 800px;
  font-family: "Great Vibes", serif;
  font-size: 195px;
  line-height: 0.85;
}
.new-year-text__text {
  font-size: 18px;
  line-height: 1.6;
  max-width: 420px;
}
.new-year-text__author {
  display: block;
  font-size: 16px;
  margin-top: 1.8em;
}

/* media for width screen =============================== */
@media (max-width: 930px) {
  .new-year-text__title {
    font-size: 150px;
    margin-bottom: 0.05em;
  }
  .new-year-text__text {
    font-size: 15px;
  }
  .new-year-text__author {
    margin-top: 2em;
  }
}

@media (max-width: 650px) {
  .new-year-text__title {
    font-size: 20vw;
    margin-bottom: 0.12em;
  }
  .new-year-text__author {
    font-size: 12px;
  }
  /* signature */
  .signature {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .new-year-text__title {
    font-size: 70px;
    margin-bottom: 0.3em;
  }
  .new-year-text__text {
    max-width: 80%;
    font-size: 12px;
  }
  .new-year-text__author {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .new-year-text__title {
    margin-bottom: 0.28em;
  }
}

/* media for height screen =============================== */
@media (max-height: 800px) {
  .new-year-text__title {
    font-size: 100px;
  }
  .new-year-text__text {
    max-width: 550px;
    font-size: 15px;
  }
  .new-year-text__author {
    font-size: 12px;
    margin-top: 1em;
  }
}

@media (max-height: 700px) {
  .new-year-text__title {
    font-size: 70px;
  }
  .new-year-text__text {
    max-width: 55%;
    font-size: 14px;
  }
  .new-year-text__author {
    font-size: 12px;
  }
}

@media (max-height: 550px) {
  .new-year-text__text {
    font-size: 12px;
  }
  .new-year-text__author {
    font-size: 12px;
  }
}

@media (max-height: 430px) {
  .new-year-text__title {
    font-size: 60px;
    margin-bottom: 0.1em;
  }
  .new-year-text__text {
    max-width: 40%;
  }

}