/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);


/* BASE & DEFAULT ______________________________________________________ */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container {
    max-width: px;
    padding: 0 40px;  
    margin: 0 auto;  
}

/* HEADER ______________________________________________________ */
.header {
    height: 100vh;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 110px;
}

/* circle */
.header__inner {
    width: 530px;
    height: 530px;
    border-radius: 50%;
    border: 10px solid #f4d4a5;
    background-color: #FFF;
    text-align: center;

    padding-top: 13px;
    padding-bottom: 150px;
    margin-left: 190px;
}
/* logo */
.logo {
    display: inline-block;
    margin-bottom: 25px;
}
/* phone */
.phone {
    font-size: 35px;
    font-weight: 300;
    color: #000;

    display: inline-block;
    margin-bottom: 40px;
}
.header__title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1fad26;
}
.header__sale {
    margin-top: 40px;
}
/* // HEADER ______________________________________________________ */
