/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* --------------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000;
}

.container {
    max-width: 1230px;
    padding: 0 30px;  
    margin: 0 auto;  
}

.section-title {
    font-size: 34px;
    font-weight: 600;
}

/* button */
.btn {
    display: inline-block;
    padding: 7px 22px;
    border-radius: 30px;
    background-color: #070707;

    font-size: 18px;
    color: #fff;

    transition: background-color 0.2s ease-in;
    transition: top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #323232;    
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000;
}
/* // button */

/* --------------------------------------------- */

/* HEADER */

.header {
    background-color: #F1F1F1;
    padding-top: 46px;
}

.header-nav_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    /* вертикальное выравнивание по нижней границе */

    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
        
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #000;    
}

/* кружок в логотипе */
.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fda300;
    
}


/* HEADER NAV */

.header-nav_list {
    display: flex;
    column-gap: 50px;

    font-size: 14px;
    font-weight: 500;
}

/* burger button */
.nav-btn_burger {
    display: none;
}
/* // burger button */

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

/* HEADER CONTENT */
.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-title {
    margin-bottom: 20px;

    font-size: 44px;
    font-weight: 600;
}

.header-subtitle {
    line-height: 2;    
}

/* SECTION SERVICE */
.section-services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px; /* расстояние между карточками*/
}

.service-card {
    flex: 1 1 0; /* жадность карточки - уступчивость места / исходный размер */   
    min-width: 315px; /* минимальный размер карточек*/
}

.service-card_image {
    margin-bottom: 30px;
}

.service-card_title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-card p {
    line-height: 2;
}


/* SECTION PORTFOLIO */
.section-portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
    text-align: center; 
}

.portfolio-title {
    margin-bottom: 70px;
}

.project-card + .project-card {
    margin-top: 90px;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
}

.project-title a {
    color: #000;
    text-decoration: underline;
}


/* FOOTER */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts_title {
    margin-bottom: 40px;
}

.contacts_content {
    margin-bottom: 40px;    
    font-size: 18px;
}

.btn_contacts {
    margin-bottom: 80px;    
}

.contacts_social {
    display: flex;
    justify-content: center;
    align-items: center;    
    column-gap: 60px;

    margin-bottom: 40px;
}

.contacts-footer {    
    color: #828282;
}