/* подключение reset.css */
@import "reset.css";

/* подключение гугл-шрифтов в css */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap);


/* BASE & DEFAULT _________________________________________ */
body {
    background: url('../images/фон-для-нарезки.jpg') no-repeat center top;
    font-family: "Josefin Sans", sans-serif;
}
.container {    
    max-width: 1305px;
    box-sizing: content-box;
    padding: 0 35px;
    margin: 0 auto;
    
}

/* HEADER _________________________________________ */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 85px;
}

/* header line 1 ___________________ */
.header__line1 {
    text-align: center;
    margin-bottom: 17px;
}
/* // header line 1 ___________________ */


/* header line 2 ___________________ */
.header__line2_inner {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase; 
    color: #fff;
       
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;    
}

/* language */
.lang-box {
    display: flex;
}
.lang-box__item + .lang-box__item {
    margin-left: 30px;
}

/* menu */
.menu__list {
    display: flex;
}
.menu__list li + li {
    margin-left: 30px;
}
/* // menu */


/* user's box */
.user-box__list {
    display: flex;
    align-items: flex-end;
}
.user-box__list > * {
    margin-right: 10px;
}
.user-box__list > *:last-child {
    margin-right: 0;
}
.btn_ui {
    padding: 5px;
}

/* btn cart */
.btn__cart {
    position: relative;
}
.cart-count {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: -4px;
    left: 50%;
}
/* // btn cart */

/* // user's box */
/* // header line 2 ___________________ */
/* // HEADER _________________________________________ */


/* SECTION HERO _________________________________________ */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__content_wrap {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.hero__subtitle {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
.hero__title {
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* btn */
.btn {
    border-radius: 100px;
    background-image: linear-gradient(270deg, rgb(9,112,148) 0%, rgb(0,222,136) 100%);
    
    text-transform: uppercase;
    color: #FFF;
    
    display: inline-block;
    font-weight: 300;
    
    padding: 23px 70px 20px;


  
   
      
}
/* // SECTION HERO _________________________________________ */